.subHeader {
  background-color: white;
  height: 95pt;
  width: 100%;
  padding: 20pt 0 0 37.8pt;
}

.subHeader .title {
  font-size: 10.5pt;
  color: rgb(var(--theme-rgb-color));
  opacity: 0.4;
  letter-spacing: -0.37pt;
}

.subHeader .contentTitle {
  font-size: 12.75pt;
  color: rgb(var(--theme-rgb-color));
  letter-spacing: -0.25pt;
  line-height: 18pt;
}

.subHeader.withSectionIcon {
  margin-bottom: 40pt;
}

.subHeader.withSectionIcon .contentTitle {
  margin-bottom: 20pt;
}
